@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.toggle{
    position: fixed;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: #5c2992 url(../Imagenes/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1000;
    border-radius: 10px;
}

.toggle.active{
    background: #5c2992 url(../Imagenes/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

section{
    padding: 100px;
    min-height: 100vh;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.banner .imgSidebar{
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
}

.banner .imgSidebar img{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    object-fit: cover;
}

.banner .contentBx,.sidebar{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 500px);
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 100px;
}

.logoText{
    position: absolute;
    top: 40px;
    left: 100px;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #5c2992;
    color: #fff;
    padding: 0 5px;
}

.banner .contentBx h4 span{
    font-size: 2em;
    color: #333;
    font-weight: 700;
}

.banner .contentBx h3{
    font-size: 2.5em;
    color: #5c2992;
    font-weight: 1em;
}

.banner .contentBx h2{
    font-size: 1em;
    color: #333;
    font-weight: 1em;
}

.banner .contentBx h1{
    font-size: 10em;
    color: #5c2992;
    font-weight: 1em;
}


.sidebar{
    position: fixed;
    background: #5c2992;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 40px;
    z-index: 100;
    right: -100%;
}

.sidebar.active{
    right: 0;
}

.sidebar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar ul li{
    list-style: none;
}

.sidebar ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    margin: 10px 0;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.sidebar ul li a:hover{
    color:#000;
}

.sci{
    position: absolute;
    left: 100px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li{
    margin-right: 10px;
    list-style: none;
}

.sci li img{
    transform: scale(0.5);
    opacity: 0.3;
}

.sci li img:hover{
    opacity: 1;
}

.Titulo{
    width: 100%;
    text-align: center;
}

.Titulo h2{
    position: relative;
    color: #5c2992;
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}

.Titulo p{
    max-width: 700px;
    display: inline-block;
}

.Titulo h2::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 60px;
    height: 4px;
    background: #000;
}

.Titulo.white h2{
    color: #5c2992;
}

.Titulo.white p{
    color: #fff;
}

.Titulo.white h2::before{
    background: #fff;
}

/* Tema 2 */
.Punto_1{
    background: #000;
}

.Definicion-text-Punto_1 p{
    text-align: justify;
    color: #fff;
    font-size: 15px;
}

/* Tema 2 */
.Punto_2{
    background: #fff;
}

.Definicion-text-Punto_2 p{
    text-align: justify;
    color: #000;
    font-size: 15px;
}

/* Tema 3 */
.Punto_3{
    background: #000;
}

.Definicion-text-Punto_3 p{
    text-align: justify;
    color: #fff;
    font-size: 15px;
}

/* Tema 4 */
.Punto_4{
    background: #fff;
}

.Definicion-text-Punto_4 p,li{
    text-align: justify;
    color: #000;
    font-size: 15px;
}

/* Tema 5 */
.Punto_5{
    background: #000;
}

.Definicion-text-Punto_5 p{
    text-align: justify;
    color: #fff;
    font-size: 15px;
}

/* Tema 6 */
.Punto_6{
    background: #fff;
}

.Definicion-text-Punto_6 p{
    text-align: justify;
    color: #000;
    font-size: 15px;
}

/* Tema 7 */
.Punto_7{
    background: #000;
}

.Definicion-text-Punto_7 p{
    text-align: justify;
    color: #fff;
    font-size: 15px;
}

/* Tema 9 */

.Punto_9{
    background: #161623;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    padding-bottom: 50px;
    padding-top: 50px;
}

.Punto_9::before{
    content: ´´;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Punto_7 a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #5c2992;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

.Punto_7 a:hover{
    color: #fff;
    background: #5c2992;
    box-shadow: 0 0 10px #5c2992, 0 0 40px #5c2992, 0 0 80px #5c2992;
    transition-delay: 1s;
}

.Punto_7 a span{
    position: absolute;
    display: block;
}

.Punto_7 a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #5c2992);
}

.Punto_7 a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}

.Punto_7 a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #5c2992);
}

.Punto_7 a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.Punto_7 a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #5c2992);
}

.Punto_7 a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.Punto_7 a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #5c2992);
}

.Punto_7 a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.Conteiner-Card{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
    
}

.Conteiner-Card .card{
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(201, 85, 255, 0.199);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.74);
}

.Conteiner-Card .card .Content-Card{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}

.Conteiner-Card .card:hover .Content-Card{
    opacity: 1;
    transform: translateY(-20px);
}

.Conteiner-Card .card .Content-Card .imgBx-Card{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0,0,0,0.25);
}

.Conteiner-Card .card .Content-Card .imgBx-Card img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-items: center;
}

.Conteiner-Card .card .Content-Card .ContentBx-Card h3{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

.Conteiner-Card .card .Content-Card .ContentBx-Card h3 span{
    font-size: 20px;
    font-weight: 300;
    text-transform: initial;
}

.Conteiner-Card .card .sci-card{
    position: absolute;
    bottom: 10px;
    display: flex;
}

.Conteiner-Card .card .sci-card li{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.3s;
    opacity: 0;
    transition-delay: calc(0.2s * var(--i));
}

.Conteiner-Card .card:hover .sci-card li{
    transform: translateY(0px);
    opacity: 1;
}

.Conteiner-Card .card .sci-card li a{
    color: #fff;
    font-size: 40px;
}



.copyright{
    color: #fff;
    background: #5c2992;
    text-align: center;
    padding: 10px;
}

.copyright p{
    margin: 0;
    font-size: 20px;
}

@media (max-width: 991px){
    
    .sidebar, .sidebar ul li a{
        width: 100%;
        padding: 20px;
        font-size: 1.1em;
        text-align: center;
        padding-left: 2px;
        padding-right: 2px;
    }

    .banner .contentBx h1{
        font-size: 5em;
        color: #5c2992;
        font-weight: 1em;
    }

    .banner .imgSidebar{
        display: none;
    }

    .banner .contentBx{
        width: 100%;
        padding: 40px;
    }

    .logoText{
        left: 40px;
    }

    .toggle{
        right: 40px;
    }

    .sci{
        left: 40px;
    }

    section{
        padding: 40px;
    }

    .Punto_1 .Definicion-text{
        min-width: 100%;
        width: 100%;
    }

    .copyright p{
        margin: 0;
        font-size: 16px;
    }

}
